/*nav*/
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 30px;
}
.navbar-brand span {
  letter-spacing: 1px;
  font-style: italic;
}

.nav-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

a:link {
  text-decoration: none;
}

/*header*/
#header {
  background: url(/nike-unsplash-nelson-ndongala.jpg) top/cover no-repeat;
}

/*newsletter*/
#newsletter {
  background-color: rgba(179, 179, 179, 0.05);
}

#newsletter p {
  max-width: 600px;
}
#newsletter .input-group {
  max-width: 500px;
}
#newsletter .form-control {
  border-radius: 25px;
  margin-right: 15px;
}
#newsletter .btn {
  background-color: black;
  border-radius: 25px;
}

/* footer */
footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 2px;
}

footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
